.title_Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .title_content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      padding: 0 24px 0 36px;
      font-weight: 500;
      font-size: 32px;
      line-height: 46px;
      letter-spacing: 0.3em;
      color: var(---white);
      flex-shrink: 0;
    }

    span {
      display: block;
      width: 100%;
      height: 1px;
      background: #3C88C2;
      flex-grow: 1;
    }
  }
}