.winner_card {
	position: relative;
	margin-top: 20px;
	margin-bottom: 8px;
	margin-left: calc(( 30/ 242) * 50%);
	width: 100%;
	max-width: 196px;
	border-radius: 10px;
	transform: matrix(1, 0, -0.14, 0.99, 0, 0);

	@include b375 {
		max-width: 242px;
	}

	@include b768 {
		width: 242px;
		flex-shrink: 0;
	}

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		border-radius: 10px;
		border-width: 0px 2px;
		border-style: solid;
		border-color: #4BFFF4;
		background: rgba(75, 255, 244, 0.3);
		top: 8px;
		left: -15px;
	}

	// 前裝飾
	.winner_adornBefore {
		position: absolute;
		z-index: 5;
		width: 100%;
		top: -20px;
		left: -20px;
		transform: matrix(1, 0, 0.14, 1, 0, 0);
	}

	.winner_adornAfter {
		position: absolute;
		z-index: 5;
		width: 100%;
		bottom: -26px;
		right: -20px;
		transform: matrix(1, 0, 0.14, 1, 0, 0);
	}

	// 名次 icon 定位
	.winner_rank {
		position: absolute;
		width: calc((103 / 242) * 100%);
		z-index: 10;
		right: -5%;
		top: -9%;
		transform: matrix(1, 0, 0.14, 1, 0, 0);
		img {
			width: 100%;
		}
	}

	// 得獎人照片 & 姓名 | 手機
	.figure {
		position: relative;
		display: flex;
		border-radius: 10px;
		overflow: hidden;
		z-index: 5;
		width: 100%;
		aspect-ratio: 121/180;
		max-height: calc((360 / 242) * 100%);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: matrix(1, 0, 0.14, 1, 0, 0) scale(1.2);
		}

		// 頭像文字
		.figure-caption {
			position: absolute;
			display: flex;
			align-items: flex-end;
			flex-direction: column;
			justify-content: center;
			padding: 22px 24px 16px;
			width: 100%;
			max-width: 242px;
			height: calc((94 / 356) * 100%);
			background: linear-gradient(180deg, rgba(25, 239, 199, 0.6) 0%, #005EAA 100%);
			z-index: 5;
			bottom: 0;
			text-align: right;

			span {
				display: block;
				font-style: normal;
				color: var(---white);
			}

			.winner_name {
				line-height: 1;
				font-weight: 500;
				font-size: 29px;
				letter-spacing: 0.05em;
				transform: matrix(1, 0, 0.14, 1, 0, 0);
			}

			.winner_mobile {
				font-family: $fontAgencyFb;
				font-weight: 700;
				font-size: 18px;
				line-height: 36px;
				letter-spacing: 0.15em;
				transform: matrix(1, 0, 0.14, 0.99, 5, 0);
			}
		}
		
	}

	// 名次 文字區塊
	.figure_marked {
		position: absolute;
		width: calc((191 / 242) * 100%);
		display: flex;
		justify-content: center;
		align-items: center;
		transform: matrix(1, 0, 0.14, 1, 0, 0);
		z-index: 15;
		left: calc(( 40/ 242) * -100%);
		bottom: calc((94 / 360) * 100%);

		img {
			position: absolute;
			width: 100%;
		}

		.figure_marked_caption {
			position: absolute;
			color: var(---white);
			font-weight: 700;
			font-size: 23px;
			letter-spacing: 0.15em;
			color: #2DF2FF;
			text-shadow: 0.823992px 0.823992px 0.823992px #103F6B;
		}
	}
}
.winner_ranking {
	margin-bottom: 24px;
	max-width: 160px;
	background: #0088cc;

	@include b375 {
		max-width: 200px;

	}

	@include b768 {
		max-width: 200px;
		flex-shrink: 0;
	}

	&:after {
		top: 6px;
		left: -13px;
	}

	// 裝飾後
	.winner_adornAfter  {
		bottom: -24px;

	}

	// 名次 icon 定位
	.winner_rank {
		width: calc((80 / 200) * 100%);
		right: -7%;
		top: -7%;
	}

	.figure {
		max-height: calc((298 / 200) * 100%);

		// 頭像文字
		.figure-caption{
			padding: 22px 18px 16px;
			height: calc((80 / 298) * 100%);
			max-width: 200px;

			.winner_name {
				font-size: 24px;
			}

			.winner_mobile { 
				font-size: 18px;
			}
		}
	}

	// 名次 文字區塊
	.figure_marked {
		width: calc((154 / 200) * 100%);
		left: calc(( 60/ 242) * -100%);
		background: #0088cc;

		.figure_marked_caption {
			font-size: 17px;
		}
	}
}