.qaSect {
	position: relative;
	margin-top: 60px;

	.container {
		@include b576 {
			max-width: 100%;
		}

		@include b1024 {
			display: flex;
			justify-content: center;
		}

		@include b1400 {
			padding-top: 40px;
			margin-top: 140px;
		}

		&:after {
			@include b1024 {
				position: absolute;
				background: #0088cc;
				content: '';
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				clip-path: polygon(0 0, 100% 13%, 100% 67%, 0% 100%);
				background: linear-gradient(91.59deg, #00BCD6 0.65%, #CC0081 85.9%);
			}

			@include b1400 {
				top: 40px;
			}
		}
	}

	.row {
		background: linear-gradient(174.97deg, #00BCD6 -0.04%, #8046A0 94.04%);
		clip-path: polygon(0 0, 100% 5%, 100% 93.5%, 0% 100%);

		@include b576 {
			justify-content: center;
		}

		@include b1024 {
			flex-wrap: nowrap;
			max-width: 736px;
			background: unset;
			clip-path: unset;
		}

		@include b1200 {
			max-width: 1024px;
			padding-right: 0;
			padding-left: 0;
		}

		@include b1400 {
			max-width: 1246px;
		}
	}

	.qa_content {
		position: relative;
		padding: 112px 74px 0 67px;

		@include b576 {
			max-width: 540px;
		}

		@include b768 {
			max-width: 690px;
			padding: 112px 0 0 0;
		}

		@include b1024 {
			max-width: 100%;
			padding: 60px 20px 140px;
		}

		@include b1400 {
			padding: 150px 24px 220px;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
		}

		h3 {
			position: relative;
			color: var(---white);
			font-size: var(---qa_h3);
			font-weight: var(---qa_h3_weigth);
			text-align: center;
			letter-spacing: 0.2em;
			flex-shrink: 0;
			z-index: 10;

			@include b768 {
				text-align: left;
			}

			&::before {
				position: absolute;
				content: '';
				width: 100%;
				height: 2px;
				background: var(---white);
				top: 50%;
				right: 107px;
				transform: translateX(-50%);

				@include b768 {
					display: none;
				}
			}

			&::after {
				content: "";
				position: absolute;
				width: 52px;
				height: 15px;
				background: #0088cc;
				background: url(../img/index/group_adorn_01.svg) top center/contain no-repeat;
				top: 50%;
				transform: translateY(-50%);
			}

			span {
				display: block;
				margin-right: 17px;
				height: 2px;
				background: var(---white);
				flex-grow: 1;
				flex-shrink: 1;
			}
		}
	}

	ul {
		margin-top: 40px;
		list-style: none;

		@include b768 {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		@include b1024 {
			width: 66.66%;
		}

		@include b1400 {
			width: 45%;
		}

		li {
			z-index: 10;

			&:not(:first-child) {
				margin-top: 40px;

				@include b768 {
					margin-top: 0;
				}
			}

			@include b768 {
				width: calc(50% - 30px);

				&:nth-child(3),
				&:nth-child(4) {
					margin-top: 40px;
				}
			}

			@include b1024 {
				width: calc(50% - 8px);
			}

			@include b1400 {
				width: calc(50% - 33px);
			}
		}

		h4 {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-size: var(---qa_h4);
			font-weight: var(---qa_h4_weight);
			color: var(---white);
			letter-spacing: 0.1em;
			line-height: 35px;

			i {
				padding-right: 10px;
			}
		}

		p {
			margin-top: 10px;
			font-size: var(---qa_p);
			color: var(---white);
			font-weight: var(---qa_p_weight);
			line-height: 24px;
		}
	}

	.qa_img {
		position: relative;
		margin-top: 50px;
		overflow: hidden;

		@include b1024 {
			margin-top: 0;
			display: flex;
			justify-content: flex-end;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			position: absolute;
			z-index: 5;
		}

		.img_set {
			overflow: hidden;

			@include b1024 {
				width: 40%;
			}

			@include b1200 {
				width: 37%;
			}

			@include b1400 {
				width: 52%;
			}
		}

		img {
			position: relative;
			width: 110%;
			left: 20px;

			@include b1024 {
				width: 170%;
				left: 0;
				bottom: 0;
				z-index: 5;
			}

			@include b1400 {
				width: 1000px;
				bottom: 0;
			}
		}
	}
}